<h1>Edit <%= @bulk_discount.name %></h1>
<%= form_with model: [@merchant, @bulk_discount], url: merchant_update_bulk_discount_path, data: { turbo: false } do |f| %>
  <%= f.label :name, 'Discount Name:' %>
  <%= f.text_field :name %><br>
  <%= f.label :percentage, 'Percentage:' %>
  <%= f.number_field :percentage %><br>
  <%= f.label :quantity_threshold, 'Quantity Threshold:' %>
  <%= f.number_field :quantity_threshold %><br>
  <%= f.submit "Update" %>
<% end %>
