<h1>Create A New Discount For <%= @merchant.name %></h1>
<%= form_with model: [@merchant, @bulk_discount], data: { turbo: false } do |f| %>
  <%= f.label :name, 'Discount Name:' %>
  <%= f.text_field :name %><br>
  <%= f.label :percentage, 'Percentage:' %>
  <%= f.number_field :percentage %><br>
  <%= f.label :quantity_threshold, 'Quantity Threshold:' %>
  <%= f.number_field :quantity_threshold %><br>
  <%= f.submit "Submit" %>
<% end %>
