<h1> Admin Dashboard </h1>

<%= link_to "merchants", admin_merchants_path %><br>

<%= link_to "invoices", admin_invoices_path %>

<h3>Top Customers</h3>
  <ol>
    <% @customers.top_customers.each do |customer| %>
        <div id="customer-<%= customer.id %>">
          <li><%= customer.full_name %> - <%= customer.transaction_count%> purchases</li>
        </div>
    <% end %>
  </ol>

<h3>Incomplete Invoices</h3>
  <% @invoices.incomplete_invoices.each do |invoice| %>
    <div id="invoice-<%= invoice.id %>">
      <p><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %> - <%= invoice.format_date_created %></p>
    </div>
  <% end %>