<h1>Edit <%= @merchant.name %>'s Information</h1>
<%= form_with model: @merchant, url: admin_merchant_path, local: true, data: {turbo: false} do |form|%>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.submit "Submit" %>
<% end %>