<h1>Merchants</h1>

<%= link_to "New Merchant", new_admin_merchant_path %>

<h3>Enabled Merchants</h3>
<div id="enabled-merchants">
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
      <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
      <%= button_to "Disable", admin_merchant_path(merchant), params:{merchant_status: "disabled"}, method: :patch %> </p>
    <% end %>
  <% end %>
</div>

<h3>Disabled Merchants</h3>
<div id="disabled-merchants">
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
      <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
      <%= button_to "Enable", admin_merchant_path(merchant), params:{merchant_status: "enabled", id: merchant.id}, method: :patch %></p>
    <% end %>
  <% end %>
</div>