<h1>Edit <%= @item.name %>'s Information</h1>
<%= form_with url: "/merchants/#{@item.merchant_id}/items/#{@item.id}", method: :patch, data: { turbo: false } do |f| %>
  <%= f.label :name, "Item Name:" %>
  <%= f.text_field :name, placeholder: "#{@item.name}" %><br>
  <%= f.label :id, "Item ID:" %>
  <%= f.number_field :id, placeholder: "#{@item.id}" %><br>
  <%= f.label :merchant_id, "Merchant ID:" %>
  <%= f.number_field :merchant_id, placeholder: "#{@item.merchant_id}" %><br>
  <%= f.label :description, "Item description:" %>
  <%= f.text_area :description, placeholder: "#{@item.description}" %><br>
  <%= f.label :unit_price, "Item unit price:" %>
  <%= f.number_field :unit_price, placeholder: "#{@item.unit_price}" %><br>
  <%= f.submit "Update" %>
<% end %>

