<h1><%= @merchant.name %> Items:</h1>
<section id="merchant-items-page">
  <% @items.each do |item| %>
    <div id="item-<%= item.id%>">
      <ul>
        <li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", data: { turbo_method: :get } %>
          <%= button_to "Enable", merchant_item_path(item.merchant_id, item.id, status: "Enabled"), method: :patch  %> <%= button_to "Disable", merchant_item_path(item.merchant_id, item.id, status: "Disabled"), method: :patch  %>
        </li>
        <li>Item Status: <%= item.status %></li>
      </ul>
    </div>
  <% end %>

  <p><%= link_to "Create new item", "/merchants/#{@merchant.id}/items/new" %></p>
</section>
