<!DOCTYPE html>
<html>
  <head>
    <title>Little Esty Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <%= javascript_importmap_tags %>
    <header>Little Esty Shop</header>
      <nav>
        <% if request.path.starts_with?("/admin") %>
          <%= render "layouts/admin_layout" %>
        <% elsif request.path.starts_with?("/merchant")%>
          <% @merchant = Merchant.find(params[:merchant_id]) %>
          <%= render "layouts/merchant_layout", locals: {model: @merchant} %>
        <%else%>
          <!-- don't have a nav bar on welcome -->
        <% end %>
      </nav>
  </head>


  <body>
    <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
